<div class="container">
    <div>
        <h2>Login</h2>
        <p class="grey_colr">Hallo, schön Sie wieder zu sehen</p>
    </div>

    <form>
        <div class="mt_16">
            <mat-form-field class="example-full-width">
                <mat-label class="label">Email</mat-label>
                <input name="email" [(ngModel)]="email" required matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Passwort</mat-label>
                <input name="password" [(ngModel)]="password" required matInput class="password" >

            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button color="primary" (click)="login()" class="button">Login</button>
        </div>
    </form>
    <div class="link">
        <a class="label" routerLink="/register">Konto erstellen</a>
    </div>
</div>