.container {
    margin: 8px;
    margin-left: 24px;
    margin-right: 24px;

    .label {
        color: #f85f6a;
    }

    .button {
        width: 100%;
    }
    mat-form-field {
        width: 100%;
    }
    // style of form when invalid inputs
    .is-invalid{
        background-color: #f85f6a;
        opacity: 50%;
    }
    
    .password {
        -webkit-text-security: disc;
    }

    .link {
        position: absolute;
        bottom: 20px;
        right: 24px;
    }

    .mt_16 {
        margin-top: 16px;
    }

    .grey_colr {
        color: #989eb1;
    }
}

@media screen and (min-width: 480px) {
    .container {
        margin: 8px;
        margin-left: 24px;
        margin-right: 24px;

    
        .label {
            color: #f85f6a;
        }

        .password {
            -webkit-text-security: disc;
        }

        .link {
            position: inherit;
            margin-top: 24px;
        }
    }
    
  }

