<div class="container">
    <div>
        <h2>Login</h2>
        <p>Hallo, schön Sie wieder zu sehen</p>
    </div>

    <form>
        <div style="margin-top: 16px;">
            <mat-form-field class="example-full-width">
                <mat-label class="label">Email</mat-label>
                <input required matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Passwort</mat-label>
                <input required matInput class="password" >

            </mat-form-field>
        </div>

        <div>
            <button class="button">Login</button>
        </div>
    </form>
    <div class="link">
        <a class="label" routerLink="/register">Konto erstellen</a>
    </div>
</div>