.container {
    margin: 8px;
    margin-left: 24px;
    margin-right: 24px;


    .label {
        color: #f85f6a;
    }

    .button {
        color: #FFF;
        background-color: #f85f6a;
        width: 100%;
        border-radius: 5px;
        height: 32px;
        border: none;
    }
    mat-form-field {
        width: 100%;
    }
    
    .password {
        -webkit-text-security: disc;
    }

    .link {
        position: absolute;
        bottom: 20px;
        right: 24px;
    }

    .mt_16 {
        margin-top: 16px;
    }

    .grey_colr {
        color: #989eb1;
    }
}

@media screen and (min-width: 480px) {
    .container {
        margin: 8px;
        margin-left: 24px;
        margin-right: 24px;

    
        .label {
            color: #f85f6a;
        }
    
        .button {
            color: #FFF;
            background-color: #f85f6a;
            width: 100%;
            border-radius: 5px;
            height: 32px;
            border: none;
        }

        .password {
            -webkit-text-security: disc;
        }

        .link {
            position: inherit;
            margin-top: 24px;
        }
    }
    
  }

