// style of form when invalid inputs
.is-invalid{
    background-color: #f85f6a;
    opacity: 50%;
}

.container {
    margin: 8px;
    margin-left: 24px;
    margin-right: 24px;

    .label {
        color: #f85f6a;
    }

    .button {
        width: 100%;
    }
    mat-form-field {
        width: 100%;
    }
    
    .password {
        -webkit-text-security: disc;
    }

    .link {
        margin-top: 24px;
    }

    .input_placeholder {
        color: #989eb1;

    }

    .mt_16 {
        margin-top: 16px;
    }

    .grey_colr {
        color: #989eb1;
    }

    .mt_12 {
        margin-top: 12px;
    }
}

@media screen and (min-width: 480px) {
    .container {
        margin: 8px;
        margin-left: 24px;
        margin-right: 24px;
    
        .label {
            color: #f85f6a;
        }

        .password {
            -webkit-text-security: disc;
        }
    }
    
  }

