<div class="container">
    <div>
        <h2>Konto erstellen</h2>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mt_16">
            <mat-radio-group formControlName="role" aria-label="Select an option">
                <mat-radio-button class="radio_button" value="customer" [checked]="true">Kunde</mat-radio-button>
                <br>
                <mat-radio-button class="radio_button mt_12" value="dealer">Händler</mat-radio-button>
            </mat-radio-group>

        </div>

        <div class="mt_16">
            <mat-form-field class="example-full-width">
                <mat-label class="label">Vorname</mat-label>
                <input formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Nachname</mat-label>
                <input formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Firma</mat-label>
                <input formControlName="company" [ngClass]="{ 'is-invalid': submitted && f.company.errors }" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Strasse und Hausnummer</mat-label>
                <input formControlName="street" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Postleizahl</mat-label>
                <input formControlName="postalCode" [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Ort</mat-label>
                <input formControlName="town" [ngClass]="{ 'is-invalid': submitted && f.town.errors }" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Land</mat-label>
                <input formControlName="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Telefonnummer</mat-label>
                <input formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Email</mat-label>
                <input formControlName="email" type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="label">Passwort</mat-label>
                <input formControlName="password" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" matInput class="password">

            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button type="submit" class="button" color="primary">Konto erstellen</button>
        </div>
    </form>
    <div class="link input_placeholder">
        <div>
            Sie haben ein Konto? <a class="label" routerLink="/login">Login</a>
        </div>
    </div>
</div>