<div class="wrap-container">
    <h1>Neues Produkt erstellen</h1>
    <div *ngIf="user !== undefined && user.role !== 'dealer'">
        <p>Sie haben keine Rechte, eigene Produkte zu erstellen.</p>
    </div>
    <form
        *ngIf="user !== undefined && user.role === 'dealer'"
        [formGroup]="newProduct"
        (ngSubmit)="onSubmit()"
        class="create-form"
    >
        <input type="hidden" formControlName="dealerCtrl">
        <mat-form-field class="create-form-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="nameCtrl" [ngClass]="{ 'is-invalid': submitted && f.nameCtrl.errors }" placeholder="Spoiler Evo 5">
        </mat-form-field>
        <mat-form-field class="create-form-full-width">
            <mat-label>Hersteller</mat-label>
            <input matInput  formControlName="manufacturerCtrl" [ngClass]="{ 'is-invalid': submitted && f.manufacturerCtrl.errors }" placeholder="Varis">
        </mat-form-field>
        <mat-form-field class="create-form-full-width">
            <mat-label>Preis</mat-label>
            <input matInput formControlName="priceCtrl" [ngClass]="{ 'is-invalid': submitted && f.priceCtrl.errors }" placeholder="599.50">
        </mat-form-field>
            <section>
            <mat-checkbox formControlName="legalityCtrl" color="primary">Strassenlegal?</mat-checkbox>
            </section>
        <mat-form-field class="create-form-full-width">
            <mat-label>Kurzbeschreibung</mat-label>
            <textarea matInput  formControlName="shortDescCtrl" [ngClass]="{ 'is-invalid': submitted && f.shortDescCtrl.errors }" #shortDescription></textarea>
            <mat-hint align="end">{{shortDescription.value.length}} / 200</mat-hint>
        </mat-form-field>
        <mat-form-field class="create-form-full-width">
            <mat-label>Beschreibung</mat-label>
            <textarea matInput formControlName="descCtrl" [ngClass]="{ 'is-invalid': submitted && f.descCtrl.errors }" #fullDescription></textarea>
            <mat-hint align="end">{{fullDescription.value.length}} / 500</mat-hint>
        </mat-form-field>
        <mat-form-field class="create-form-full-width">
            <mat-label>Kategorie</mat-label>
            <input matInput formControlName="categoryCtrl" [ngClass]="{ 'is-invalid': submitted && f.categoryCtrl.errors }" placeholder="Karosserie">
        </mat-form-field>
        <mat-form-field class="create-form-full-width">
            <mat-label>Seriennummer</mat-label>
            <input matInput formControlName="serialCtrl" [ngClass]="{ 'is-invalid': submitted && f.serialCtrl.errors }">
        </mat-form-field>
        <mat-form-field class="create-form-full-width">
            <mat-label>Marke</mat-label>
            <mat-select [(value)]="carId">
                <mat-option *ngFor="let car of Cars" [value]="car.id">
                {{car.carBrand}}
                {{car.carModel?.carModel}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button class="create-form-full-width" mat-raised-button color="primary" type="submit">Produkt erstellen</button>
    </form>
</div>
