<h1>Meine Angebote</h1>

<button
    mat-raised-button
    color="primary"
    class="createButton"
    *ngIf="user !== undefined && user.role === 'dealer'"
>
    Angebot erstellen
</button>

<div *ngIf="products.length == 0 && user !== undefined && user.role === 'dealer'">
    <p>Es wurden keine von Ihnen erstellten Angebote gefunden.</p>
</div>

<div *ngIf="user !== undefined && user.role !== 'dealer'">
    <p>Sie haben keine Rechte, eigene Produkte zu erstellen.</p>
</div>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start stretch">
    <app-product-card fxFlex="33%" fxLayoutGap="16px" *ngFor="let product of products" [product]="product" ></app-product-card>
</div>