/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #feeced,
    100 : #fdcfd2,
    200 : #fcafb5,
    300 : #fa8f97,
    400 : #f97780,
    500 : #f85f6a,
    600 : #f75762,
    700 : #f64d57,
    800 : #f5434d,
    900 : #f3323c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd1d3,
    A700 : #ffb8bb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #e7e8e9,
    100 : #c2c6c9,
    200 : #9aa1a5,
    300 : #727b80,
    400 : #535e65,
    500 : #35424a,
    600 : #303c43,
    700 : #28333a,
    800 : #222b32,
    900 : #161d22,
    A100 : #68c2ff,
    A200 : #35aeff,
    A400 : #029aff,
    A700 : #008be7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warn: (
    50 : #fdeeeb,
    100 : #fad4cd,
    200 : #f7b7ab,
    300 : #f39a89,
    400 : #f18470,
    500 : #ee6e57,
    600 : #ec664f,
    700 : #e95b46,
    800 : #e7513c,
    900 : #e23f2c,
    A100 : #ffffff,
    A200 : #fff0ef,
    A400 : #ffc2bc,
    A700 : #ffaba2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

