<mat-card class="product-card">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between start">
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.category}}, {{product.dealer?.companyName}}</mat-card-subtitle>
            <button mat-button color="primary" routerLink="/details" (click)="clickDetails()">Details</button>
    </mat-card-header>
    <img mat-card-image src="product.preview">
    <mat-card-content>
        <p> Preis: {{product.price}} </p>
        <p class="one-line-description"> {{product.shortDescription}} </p>
        <p *ngIf="user.role === 'customer' && route === '/cart'">Anzahl: {{amount}} </p>
    </mat-card-content>
    <mat-card-actions *ngIf="user.role === 'dealer' && route === '/my-products'">
        <button
            mat-raised-button
            class="deleteButton"
            color="accent"
            (click)="openDialog()"
        >
            Löschen
        </button>
    </mat-card-actions>

    <mat-card-actions *ngIf="user.role === 'customer' && route === '/cart'">
        <button
            mat-raised-button
            class="cartButton"
            color="accent"
            (click)="removeProduct()"
        >
            Entfernen
        </button>
    </mat-card-actions>
</mat-card>
